.linkAllBoards {
  padding: 0.5em 1em;
  background-color: var(--logoBlue);
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.linkAllBoards:hover {
  background-color: #d9d9d9;
  color: var(--logoBlue);
}
