.containerHome {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  /* border-right: 1px solid var(--logoBlue); */
  margin-right: 50px;
}

.containerHeader h2 {
  color: red;
  font-size: 4em;
}

.containerHeader p {
  font-size: 2em;
}

.containerCategories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: lightblue;
  width: 700px;
  height: 100px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.category:hover {
  transform: scale(1.1);
}

.category span {
  font-weight: 100;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--logoBlue);
}
