.containerHome {
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--logoBlue);
}

.containerHeader h2 {
  color: red;
  font-size: 4em;
}

.containerHeader p {
  font-size: 2em;
}

.containerCategories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightblue;
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.category:hover {
  transform: scale(1.1);
}

.category span {
  font-weight: 100;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--logoBlue);
}
