.containerBoards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.addCategoryBtn {
  margin-top: 20px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #555777;
  box-shadow: 0 0 3px lightblue;
  font-size: 20px;
  font-weight: bold;
}

.addCategoryBtn:hover {
  background-color: var(--logoBlue);
  transform: scale(1.1);
  color: white;
}
